@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto';
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

section.links {
    background-color: #DEDEDE;
}

section div.info {
    height: 100vh;
    width: 50vw;
    background-color: #081B29;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

section div.info h1 {
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    position: fixed;
    transform: translateY(-22px);
}

section div.info h1 span {
    font-weight: 100;
}

section div.info p {
    position: fixed;
    transform: translate(-38px, 23px);
    font-size: 16px;
}

section div.info p span {
    font-weight: bolder;
    text-transform: uppercase;
}

section div.foto {
    height: 100vh;
    width: 50vw;
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

section div.foto img {
    width: 400px;
    border-radius: 100%;
}

.div-links {
    display: flex;
    flex-direction: column;
    align-items: right;
    width: 50vw;
}

.div-links a {
    transform: translateX(-22vw);
    text-align: right;
    color: #081B29;
    font-size: 1.2rem;
    line-height: 1.8rem;
    transition: all .3s ease;
}

.div-links a:hover {
    font-weight: bolder;
    font-size: 1.35rem;
}